<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <listeners>
        <listener class-name="com.restinit.core.library.RestInitListener"/>
    </listeners>

    <test name="API TEST" parallel="classes" thread-count="5">
        <classes>
            <class name="com.restinit.getapi.GetAPITests1"/>
            <class name="com.restinit.getapi.GetAPITests2"/>
            <class name="com.restinit.getapi.GetAPITests3"/>
            <class name="com.restinit.getapi.GetAPITests4"/>
            <class name="com.restinit.getapi.JsonValidations"/>
            <class name="com.restinit.postapi.PostAPITests5"/>
        </classes>
    </test>

</suite>
